<div class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="card-title">Accueil</h5>
        <p class="card-content"><strong>Adresse :</strong><br>2 chemin du grand Came<br>33110 Lormont</p>
        <p class="card-content"><strong>Contact :</strong><br>06 67 67 95 69<br>elodie@kutchs.fr</p>
      </div>
      <div class="col">
        <h5 class="card-title">Blog</h5>
        <ul class="list-unstyled">
          <li class="card-content">Management de projet</li>
          <li class="card-content">Economie de projet</li>
          <li class="card-content">Matériaux</li>
          <li class="card-content">Techniques constructives</li>
          <li class="card-content">Réglementation</li>
          <li class="card-content">Conception</li>
          <li class="card-content">Transition numérique</li>
        </ul>
      </div>
      <div class="col">
        <h5 class="card-title">Podcasts et Vidéo</h5>
        <ul class="list-unstyled">
          <li class="card-content">Les acteurs</li>
          <li class="d-flex align-items-center card-content">
            Inspirez-vous
            <span class="badge ms-2">New</span>
          </li>
        </ul>
      </div>
      <div class="col">
        <h5 class="card-title">Resources</h5>
        <ul class="list-unstyled">
          <li class="card-content">Recommandation livres</li>
          <li class="card-content">Actualités</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-between align-items-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#" class="card-content text-decoration-none">Mentions légales</a></li>
          <li class="list-inline-item"><a href="#" class="card-content text-decoration-none">Politique de confidentialité</a></li>
        </ul>
        <p class="card-content mb-0">© 2024 Kutchup Tous droits réservés.</p>
      </div>
    </div>
  </div>
</div>
