<div class="container-fluid p-4 bg-dark text-white rounded" style=" margin: auto;">
  <h1 class="text-center">Modifie l'article</h1>

  <%= render "form", post: @post %>

  <br>

  <div class="text-center">
    <%= link_to "Show this post", @post, class: "btn btn-link text-white" %> |
    <%= link_to "Back to posts", posts_path, class: "btn btn-link text-white" %>
    <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger mt-2" %>
  </div>
</div>
