
.custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px; /* Adjust height as needed */
  width: 30%;
  background-color: #0C0C14;
  border-color: #666666; /* Border color */
  font-size: 12px; /* Adjust font size as needed */
  border-radius: 4px; /* Adjust border radius as needed */
  color: #98989A; /* Adjust font color as needed */
  text-align: center; /* Ensure text is centered */
}

.custom-btn:hover {
  background-color: #051725; /* Change the hover background color */
  border-color: #666666; /* Change the hover border color */
}
