.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.pagination li {
  display: inline;
}

.pagination li a,
.pagination li span {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #c6c7ce;
  text-decoration: none;
}

.pagination li a:hover,
.pagination li a:focus {
  z-index: 2;
  color: #0acdbc;
}

.pagination li.active span {
  z-index: 1;
  color: #0acdbc;
}

.pagination li.disabled span {
  color: #6c757d;


}
