.card {
  position: relative;
}

.tags-overlay {
  position: absolute;
  top: 150px;
  left: 10px;
  z-index: 1;
 }

.badge {
  background-color: #0C0C14;
  color: #6d7277;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  margin-right: 0.25rem;
}

.card-img-top {
  height : 160px;
}

.fixed-height-img {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  color: #98989A;
  padding-top: 10px;
  margin-bottom: 0;
}

.card-text {
  font-family: "Inter-Regular", Helvetica;
  font-size: 11px;
  font-weight: 200;
  color: #98989A;
  margin-top: 0;
  padding-top: 0;
}

.btn .icon {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}

.favorite {
  color: #ec0941 !important;
}

.favorite-icon {
  cursor: pointer;
}
