
.card {
  position: relative;
  background-color: transparent; /* Set background to transparent */
  border: none; /* Remove any border if present */
}

.card-body {
  background-color: transparent; /* Set background to transparent */
  padding-left: 8px; /* Add padding to the left */
  max-height: 200px; /* Set max height */
}

.tags-overlay {
  position: absolute;
  top: 150px;
  left: 10px;
  z-index: 1;
  border-radius: 0px;

}

.badge {
  background-color: #0C0C14;
  color: #9f9fa4;
  font-size: 11px;
  font-weight: 200;
  margin-right: 0.25rem;
  font-family: "Inter", Helvetica;
  padding: 0.35rem;
  border-radius: 4px;

}

.card-img-top {
  height: 160px;
}


.card-title {
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  padding-top: 10px;
  margin-bottom: 0;

}
.card-content {
  padding-top: 8px; /* Add padding to the top */
  padding-bottom: 8px; /* Add padding to the bottom */
  font-family: "Inter", Helvetica;
  color: #9f9fa4;
  font-size: 11px;
  max-height: 50px;
}
.card-text {
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 200;
  color: #44FFD1;
  padding-top: 16px;
}

.btn .icon {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}

.favorite {
  color: #ec0941 !important;
}

.favorite-icon {
  cursor: pointer;
}
