.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.pagination li {
  margin: 0 5px; /* Adjust the margin to add space between page numbers */
}

.pagination li a,
.pagination li span {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  text-decoration: none;
}

.pagination li a:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.pagination li.active span {
  z-index: 3;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: default;
}
